html,
body {
  font-family: "Microsoft YaHei", "PingFang SC";
  line-height: 1.15; // The iview is set to 1.5, but the ui is normal 1.15 and needs to be overridden
}

/* Rewrite the scroll bar style */
/*Define the dimensions of the scrollbar height and background height and width corresponding 
to horizontal and vertical scrollbars respectively*/

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  background-color: transparent;
}

/*Define the shadow + rounded corner inside the scroll bar track*/

::-webkit-scrollbar-track {
  width: 0;
  border-radius: 0;
  background-color: transparent;
}

/*Define the shadow + rounded corner inside the slider*/

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e7ecf2;
}

/*Slider effect*/

::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
}

/* transiton */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
/* Styles used by micro applications */
